/* 全局共用的css */
* {
	/* box-sizing: content-box; */
	box-sizing: border-box;
	/* 边框盒子,简化盒子尺寸的计算 */
}

body {
	margin: 0;
	color: #555555;
	background-color: #FFFFFF;
	font-family: "arial, helvetica, sans-serif";
	font-size: 0.75rem;
	line-height: 1.667;
}

a {
	color: #555555;
	text-decoration: none;
}

a:hover {
	color: #ff6600;
}
